{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}zhang_derek首页{% endblock %}


	{% block content %}




				<!-- Main -->
                    <li><button type="submit" onclick="window.location.href='{% url 'plans:create_process' plan.id %}'" >NEW</button></li>
					<div id="main">


						<!-- Post -->
                        {% for process in process_list %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{% url 'plans:process' plan.id %}">{{ process.process_name }}</a></h2>
{#										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>#}
									</div>
									<div class="meta">
										<time class="published" contenteditable="true" datetime="{{ process.start_time }}">{{ process.start_time }}</time>
                                        <time class="published" contenteditable="true" datetime="{{ process.end_time }}">{{ process.end_time }}</time>
{#										<a href="#" class="author"><span class="name">{{ plan.author }}</span><img src="{% static 'process/images/avatar.jpg'%}" alt="" /></a>#}
									</div>
								</header>
{#								<a href="#" class="image featured"><img src="{% static 'process/images/pic01.jpg'%}" alt="" /></a>#}

                                <p contenteditable="true">{{ process.content }}</p>
								<footer>

									<ul class="stats">

										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>

									</ul>
                                    <ul class="stats" style="margin-left:50%">


                                        <li><button type="submit" onclick="window.location.href='{% url 'plans:edit_plan' process.id %}'" >EDIT</button></li>
									</ul>

								</footer>
							</article>
                        {% endfor %}



			</div>



            </div>

    {% endblock %}